<!doctype html>
<html lang="en">

<head>
  {% block title%}
  <title> Base | Index </title>
  {% endblock %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css")}}></link>
  <link rel="stylesheet" href={{ url_for("static", filename="css/chart.css")}}></link>
  <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css")}}></link>
  <script src={{ url_for("static", filename="js/plotly.js")}}></script>
  <script src={{ url_for("static", filename="js/chart.js")}}></script>
  <script src={{ url_for("static", filename="js/axios.min.js")}}></script>
  
</head>

<body>
  {% block body%}
  
  {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src={{ url_for("static", filename="js/app.js")}}></script>
  <script src={{ url_for("static", filename="js/jquery-3.3.1.slim.min.js")}}></script>
  <script src={{ url_for("static", filename="js/popper.min.js")}}></script>
  <script src={{ url_for("static", filename="js/popper.min.js")}}></script>
  <script src={{ url_for("static", filename="js/bootstrap.min.js")}}></script>
</body>

</html>