<!doctype html>
<html lang="en">

<head>
  {% block title%}
  <title> Base | Index </title>
  {% endblock %}

  <link rel="icon" type="image/png" sizes="32x32" href="static/imgs/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/imgs/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/imgs/favicon-16x16.png">
  <meta name="description" content="Panic is not an option for COVID-19, being cautious is. This site states some visual data that proves Recovery ration is much heigher! Also states ranking of each country based on active corona virus patients. Dataset is collected realtime from http://worldometers.info/">
  <meta name="author" content="Sabbir Ahmed<fromsabbir@gmail.com>">

  <meta name="keywords" content="COVID-19, CORONA, CORONA VIRUS, COVID19, OUTBREAK, STATISTICS, CORONA STATISCTICS">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css")}}></link>
  <link rel="stylesheet" href={{ url_for("static", filename="css/chart.css")}}></link>
  <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css")}}></link>
  <script src={{ url_for("static", filename="js/plotly.js")}}></script>
  <script src={{ url_for("static", filename="js/chart.js")}}></script>
  <script src={{ url_for("static", filename="js/axios.min.js")}}></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160992621-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160992621-1');
  </script>


</head>

<body>
  {% block body%}
  
  {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src={{ url_for("static", filename="js/app.js")}}></script>
  <script src={{ url_for("static", filename="js/jquery-3.3.1.slim.min.js")}}></script>
  <script src={{ url_for("static", filename="js/popper.min.js")}}></script>
  <script src={{ url_for("static", filename="js/popper.min.js")}}></script>
  <script src={{ url_for("static", filename="js/bootstrap.min.js")}}></script>
</body>

</html>