{% extends "base.html" %} {% block title %}
<title>{{ name }}</title>
{% endblock title %} {% block body %}

<div class="container head">
  <h1 class="title">Panic is not An Option For COVID-19</h1>
  <h5 class="subtitle">An Engineer's Approach</h5>
</div>
<div class="worldstate">
  <div class="row">
    <div class="canvascontainer order-1">
      <canvas id="indexPlot" width="600px" height="300px"></canvas>
    </div>
    <div class="tablecontainer order-2">
      <div class="container table">
        {{table | safe }}
      </div>
    </div>
  </div>
</div>
<!-- search field -->
<div class="container searchcontainer">
  <form method="POST", action="/form-request">
    <div class="form-row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="search"
          name="country"
          placeholder="Learn about your country, eg: Bangladesh or ban"
        />
      </div>
      <button id="btn" class="btn btn-primary c-class" type="submit">Search</button>
    </div>
  </form>
</div>
<script>
  console.log({{ plot_values }});
  var ctx = document.getElementById("indexPlot").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: {{ plot_labels | safe }},
      datasets: [
        {
          label: "COVID-19 World Stat",
          data: {{ plot_values }},
          backgroundColor: [
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)"
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)"
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true
            }
          }
        ]
      }
    }
    
  });
</script>
{% endblock body %}
