{% extends "base.html" %} {% block title %}
<title>{{ name }}</title>
{% endblock title %} {% block body %}

<div class="container head">
  <h1 class="title">Panic is not An Option For COVID-19</h1>
  <h5 class="subtitle">An Engineer's Approach</h5>
</div>
<div class="worldstate">
  <div class="row">
    <div class="canvascontainer order-1">
      <canvas id="indexPlot" width="600px" height="300px"></canvas>
    </div>
    <div class="tablecontainer order-2">
      <div class="container table">
        {{table | safe }}
      </div>
    </div>
  </div>
</div>
<!-- search field -->
<div class="container searchcontainer">
  <form>
    <div class="form-row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Learn about your country"
        />
      </div>
      <button type="submit" class="btn btn-primary c-class">Search</button>
    </div>
  </form>
</div>

{% endblock body %}
