{% extends "base.html" %} {% block title %}
<title>{{ name }}</title>
{% endblock title %} 

{% block body %}

    <div class="centerhv">
        <h1 class="display-1">Your Country - <span>{{country_name | title}}</span></h1>
        <h1 class="display-3">is safe! </h1>
    </div>
    <div style="position: relative">
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary" style="margin-bottom: 2%;position: fixed; bottom: 0; width:19%; text-align: center" onclick="document.location.replace('/');"> Home </button>
      </div>
    </div>
{% endblock body %}